body {
            background-color: #f0fdf4;
        }
        .card {
            border-radius: 1rem;
            box-shadow: 0 0 15px rgba(0, 128, 0, 0.2);
        }
        .form-label {
            font-weight: bold;
        }
.city-box{
    border: 2px solid red;
    display: flex;
}

